body {
    background-color: #a0cbad;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"GRAD" 0;
    color: #040838 ;
    background: linear-gradient(180deg, 
        #0C2D48 0%,      /* Azul noche superior */
        #1A3F6B 20%,     /* Transición media */
        #2A5A8F 50%,     /* Azul medio */
        #3BA0D8 100%     /* Azul cielo inferior */
    );
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}

.brand {
    color: #ffffff;
}

.search {
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #e6e7ed;  
    border: none; 
}

.search:focus {
    color: #040838;
    outline: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: end; */
}
.ubicacion {
    background-color: #8fb1be80;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: baseline;
    margin: 20px;
    padding: 50px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    border-radius: 20px;
}

.ubicacion h2 {
    font-size: xxx-large;
}

.informacion {
    background-color: #8fb1be80;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 20px;
    padding: 50px;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
}

.informacion div {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    /* background-color: #a0cbad; */
    background: linear-gradient(180deg, 
        #0C2D48 0%,      /* Azul noche superior */
        #1A3F6B 20%,     /* Transición media */
        #2A5A8F 50%,     /* Azul medio */
        #3BA0D8 100%     /* Azul cielo inferior */
    );
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}

.informacion div, p {
    text-align: center;
}