body {
    background-color: #a0cbad;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"GRAD" 0;
    color: #040838 ;
    background: linear-gradient(180deg, 
        #0C2D48 0%,      /* Azul noche superior */
        #1A3F6B 20%,     /* Transición media */
        #2A5A8F 50%,     /* Azul medio */
        #3BA0D8 100%     /* Azul cielo inferior */
    );
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
    color: white;
}

.contenedor-search {
    display: flex;
    flex: auto;     
    justify-content: center;
    margin: 20px 0px 40px 0px;
}

.search {
    border-radius: 20px;
    padding: 5px 20px;
    margin: 0px 40px;
    background-color: #e6e7ed;  
    opacity: 50%;
    border: none; 
    width: auto;
    display: flex;
    flex: auto;
}

.search:focus {
    outline: none;
}

.main-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
}

.resume-container {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 0px 50px 0px;
}

.location-contenedor {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.icon-container {

}

.description-icon {
    opacity: 0.8;
}

/* .img-container {
    
} */

.ciudad {
    margin: 0px;
    padding: 0px;
}

.temperatura {
    margin: 0px;
    padding: 0px;
    font-size: 70px;
}

.clima {
    margin: 0px;
    padding: 0px;
}

/* Cards */

.details-container {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #5d63a0;
    margin: 50px;
    padding: 30px;
    width: fit-content;
}

#maps-container {
  height: 500px !important;
  width: 500px;
  position: relative;
}